.nav-list{
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item a{
    color: black;
    letter-spacing: 1.2px;
}