
/*********** Bloc d'entete ****************/
#entete {
        position : static; 
	text-align : CENTER;
	text-transform: uppercase;
}

#logo_entete 
{

        width: 15%;
	height: 15%;
        position: absolute;
        top : 1px;
        left : 1px;
}
/************ Bloc de menu ****************/
#menu {

	top:100px;
    position: fixed;
	text-align : CENTER;



}
#lien {
    font-size:15px;
    position : fixed;
    left : 15%;
}

#lien1 {
    font-size:15px;
    position: fixed;
    left : 30%;
}
#lien2 {
    font-size:15px;
    position : fixed;
    left : 45%;
}
#lien3 {
    font-size:15px;
    position: fixed;
    left : 60%;
}

#lien4 {
    font-size:15px;
    position: fixed;
    left : 75%;
}
#lien5 {
    font-size:15px;
    position: fixed;
    left : 50%;
}
#lien6 {
    font-size:15px;
    position: fixed;
    left : 50%;
}
#lien7 {
    font-size:15px;
position: fixed;
    left : 50%;
}

/************ Bloc de corps ***************/
#corps {
	position:fixed;
	left:5px;
	top:150px;
	border: ridge;
	height:70%;
	background-color: #FBFBEF;
	width:99%;
	text-align: center;
        overflow:auto;
        table-layout: fixed;
}

h1{
     color: #013ADF;
     
}

h2 {
    color : #00BFFF;
   
}

p{
    font-size: 20px;
}
#form{
    size: 50%;
}
#table1{
    border : 2px solid #00BFFF;
    position: relative;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    caption-side : bottom;
}

td, tr, th{
    border : 2px solid #00BFFF;
    width:100px;
}
#colonneLargeur2{
    border : 2px solid #00BFFF;
    width:300px;
}
#colonneLargeur3{
    border : 2px solid #00BFFF;
    width:200px;
}
#table2{
    border : 2px solid #00BFFF;
    position: relative;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    caption-side : bottom;
    text-align: center;
}

#table3{
    border : 2px solid #00BFFF;
    position: relative;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    caption-side : bottom;
    text-align: center;
}
caption{
    background-color :#00BFFF;
}

ul{
   position: fixed;
   top: 35%;
   left: 42%;  
   text-align:left;
}

input{
    vertical-align: top;
}

#resumeOeuvre{
    height:100px;
    width: 1000px;
}


/************ Bloc de pied ****************/
#pied {

	position: fixed;
        bottom: 1%;
        left: 45%;
        color: #013ADF;
	
}